@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --button-color: #3498db;
}

* {
  /* Padding should not affect the width of DOM elements */
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: top;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}
