@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --button-color: #3498db;
}

* {
  /* Padding should not affect the width of DOM elements */
  box-sizing: border-box;
}

body {
  background-color: #3a3a3c;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: top;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #3a3a3c;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.left-image {
  max-width:130%;
  max-height:130%;
  min-height:28rem;
  min-width:38rem;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

#mapid {
  height: 49rem;
  max-height: 49rem;
  max-width: 45rem;
  min-height: 49rem;
  min-width: 45rem;
  width: 45rem;
  /* border: 1px solid green; */
  transform: scale(1.4);
  margin-left: 7%;
}

.leaflet-container {
  background-color: rgba(255, 0, 0, 0);
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: #d8961b;
  z-index: 0;
  transform: skewY(6deg);
  transform-origin: top right;
}

.leaflet-container {
  background: rgba(255, 0, 0, 0) !important;
}

.leaflet-control-zoom {
  display: flex;
}
.leaflet-bottom {
  padding-right: 13rem;
}

.element-container {
  display: flex;
  justify-content: space-evenly;
}

.left-container {
  margin-left:2%;
  max-height:27rem;
  max-width: 40rem;
  /* border: 1px solid red; */
  margin-top: 12%;
  margin-right: 5%;
}

.right-container {
  width: 50rem;
  height: 30rem;
  margin-top: 11%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
}

.right-upper-container {
  height: 10%;
  width: 40%;
  margin-left: 30%;
  /* border: 1px solid orange; */
}

.right-lower-container {
  height: 50%;
}

.right-image {
  width: 100%;
}

.skewed-bg {
  background: #fdac16;
  padding: 80px 0;
  margin-top: -200px;
  transform: skewY(6deg);
  width:100vw;
}
.skewed-bg .content {
  transform: skewY(-6deg);
  text-align: center;
}

.skewed-bg .content h1 {
  color: white;
}

.skewed-bg .content .title {
  padding-top: 180px;
  font-weight: bold;
  padding-bottom: 10px;
}
.skewed-bg .content .text {
  width: 60%;
  margin: 25px auto;
  color: white;
}


.highcharts-figure, .highcharts-data-table table {
  min-width: 310px; 
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
#donut-container {
    width:100% !important;
    height:100% !important;
    margin-right: 10% !important;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.deaths {
  color: black;
}

.cases {
  color: red;
}

.deathCapita {
  color: rgb(202, 135, 9);
}

.result {
  font-weight: bold;
}

.leaflet-control-zoom {
  display: none;
}

.popupCustom {
  width: 12rem !important;
  min-width: 12rem !important;
}

.state {
  font-size: 1rem;
}

.highcharts-exporting-group {
  display: none;
}

.Chart.menu {
  display: none;
}

.highcharts-contextmenu {
  display: none;
}

.highcharts-menu {
  display: none;
}

.highcharts-credits {
  display: none;
}

.highcharts-description {
  color: white;
  font-family: 'Roboto', sans-serif;
  width:55%;
  margin-left: 25%;
  font-size: 0.95rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.leaflet-top.leaflet-right {
  margin-top: 100% !important;
  margin-right: 38% !important;
}

.info.leaflet-control h4 {
  text-align: center;
}

.title {
  margin-left: 5%;
  font-size: 2.3rem;
}

.disclaim {
  font-size: 0.6rem;
  color: grey;
}